/*DESKTOP*/
@media (max-width: 1200px) {

}
/*LAPTOP*/
@media (max-width: 1024px) {
    .container{
        width: 90%;
    }
    .search{
        width: 350px;
    }
}
@media (max-width: 992px) {

}
/*IPAD-TABLET*/
@media (max-width: 768px) {
    .header-btn, .search{
        display: none;
    }

}
/*IPAD-MINI*/
@media (max-width: 576px) {
    .hero-title{
        font-size: 30px;
        line-height: 33px;
    }
    .all-images{
        width: 200px;
        height: 310px;
    }
}
@media (max-width: 490px) {
    .all-images{
        width: 180px;
        height: 270px;
    }
    .all-videos{
        width: 350px;
        height: 200px;
    }
}
/*MOBILE*/
@media (max-width: 414px) {

}
/*IPHONE11*/
@media (max-width: 390px) {

}
/*IPHONE5*/
@media (max-width: 320px) {

}

